@page "/GestorDeStock/Armazem"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio.Stock
@using LI4.Negocio.Utilizadores

@namespace LI4.Apresentacao.Paginas.GestorDeStock

@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage
@inject StockService StockService
@inject UtilizadoresService UtilizadoresService

<Autorizador TipoDeConta=@Utilizador.Tipo.GestorDeStock />
<Alerta @bind-Mensagem=@MensagemAlerta />

<main>
    <HeaderTitle>Armazém de Partes</HeaderTitle>
    <table class="part-warehouse">
        <tr>
            <th>Identificador</th>
            <th>Nome</th>
            @if (Encomenda != null)
            {
                <th>Preço</th>
                <th>Quantidade</th>
            }
            <th>Número de Exemplares</th>
        </tr>

        @foreach(Parte parte in Partes)
        {
            <tr>
                <td>@parte.Identificador</td>
                <td>@parte.Nome</td>

            @if (Encomenda != null)
            {
                <td>@String.Format("{0:F2} €", parte.Preco)</td>
                <td>
                    <Counter Value="@Encomenda.ConteudoRaw.GetValueOrDefault(parte.Identificador, 0)" Decrementar="@(() => DecrementarQuantidade(parte))" Incrementar="@(() => IncrementarQuantidade(parte))"/>
                </td>
            }
            <td>@parte.QuantidadeArmazem</td>
        </tr>
    }
    </table>
    
    <div class="checkout-container">
        <div class="left-button">
            @if (Encomenda == null)
            {
                <LinkButton Href="/GestorDeStock" Title="Voltar" />
            }
            else
            {
                <ActionButton Callback="@CancelarEncomenda" Title="Cancelar Encomenda" />
            }
        </div>

        <div class="finalization">
            <div class="finalization-details">

                @if (Encomenda != null)
                {
                    <div class="final-price">Total &colon; @String.Format("{0:F2} €", Encomenda.Preco)</div>
                }

                <div class="finalize-button">
                    @if (Encomenda == null)
                    {
                        <ActionButton Callback="@ComecarEncomenda" Title="Começar Encomenda" />
                    }
                    else
                    {
                        <ActionButton Callback="@ColocarEncomenda" Title="Colocar Encomenda" />
                    }
                    </div>
            </div>
        </div>
    </div>
</main>

@code
{
    private List<Parte> Partes { get; set; } = new List<Parte>();
    private EncomendaPartes? Encomenda { get; set; }
    private string? MensagemAlerta { get; set; }

    private SessaoController? SessaoController { get; set; }
    private Utilizador? GestorDeStock { get; set; }

    protected override void OnInitialized()
    {
        SessaoController = new SessaoController(UtilizadoresService, ProtectedLocalStorage, NavigationManager);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await SessaoController!.RedirecionarConformeTipo(Utilizador.Tipo.GestorDeStock);

            GestorDeStock = await SessaoController!.ObterUtilizadorComSessaoIniciada();
            Partes = StockService.ObterTodasAsPartes();
            Partes.Sort((p1, p2) => p1.Nome.CompareTo(p2.Nome));
            StateHasChanged();
        }
    }

    private void ComecarEncomenda()
    {
        Encomenda = new EncomendaPartes(DateTime.Now, GestorDeStock!.EnderecoEletronico);
    }

    private void CancelarEncomenda()
    {
        Encomenda = null;
    }

    private void ColocarEncomenda()
    {
        Encomenda!.InstanteRealizacao = DateTime.Now;
        try
        {
            StockService.ColocarEncomenda(Encomenda!);
            NavigationManager.NavigateTo("/GestorDeStock");
        }
        catch (EncomendaVaziaException)
        {
            MensagemAlerta = "Encomenda vazia não pode ser colocada";
        }
    }

    private void IncrementarQuantidade(Parte parte)
    {
        int quantidade = Encomenda!.ConteudoRaw.GetValueOrDefault(parte.Identificador, 0);
        Encomenda!.DefinirQuantidadeDeParte(parte, quantidade + 1);
        StateHasChanged();
    }

    private void DecrementarQuantidade(Parte parte)
    {
        int quantidade = Encomenda!.ConteudoRaw.GetValueOrDefault(parte.Identificador, 0);
        if (quantidade == 0)
            return;

        Encomenda!.DefinirQuantidadeDeParte(parte, quantidade - 1);
    }
}
