@page "/GestorDeProducao/Armazem"

@using LI4.Apresentacao.Componentes
@using LI4.Negocio
@using LI4.Negocio.Producao
@using LI4.Negocio.Utilizadores

@namespace LI4.Apresentacao.Paginas.GestorDeProducao

@inject ICamadaNegocio CamadaNegocio
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

<Autorizador TipoDeConta=@Utilizador.Tipo.GestorDeProducao />
<Alerta @bind-Mensagem=@MensagemAlerta />

<main>
    <HeaderTitle>Armazém de EVAs</HeaderTitle>
    <table class="warehouse">
        <tr>
            <th>Identificador</th>
            <th>Nome</th>
            @if (OrdemProducao != null)
            {
                <th>Quantidade</th>
            }
            <th>Número de Exemplares</th>
        </tr>

        @foreach(EVA eva in EVAs)
        {
            <tr>
                <td>@eva.Identificador</td>
                <td>@eva.Nome</td>

            @if (OrdemProducao != null)
            {
                <td>
                    <Counter Value="@OrdemProducao.ConteudoRaw.GetValueOrDefault(eva.Identificador, 0)" Decrementar="@(() => DecrementarQuantidade(eva))" Incrementar="@(() => IncrementarQuantidade(eva))"/>
                </td>
            }
            <td>@eva.QuantidadeArmazem</td>
        </tr>
    }
</table>

    <div class="action-buttons">
        @if (OrdemProducao == null)
        {
            <LinkButton Href="/GestorDeProducao" Title="Voltar" />
        }
        else
        {
            <ActionButton Callback="@CancelarOrdemProducao" Title="Cancelar Ordem de Produção" />
        }

        @if (OrdemProducao == null)
        {
            <ActionButton Callback="@ComecarOrdemProducao" Title="Começar Ordem de Produção" />
        }
        else
        {
            <ActionButton Callback="@ColocarOrdemProducao" Title="Colocar Ordem de Produção" />
        }
    </div>
</main>

@code
{
    private List<EVA> EVAs { get; set; } = new List<EVA>();
    private OrdemProducao? OrdemProducao { get; set; }
    private Utilizador? GestorDeProducao { get; set; }
    private string? MensagemAlerta { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            SessaoController sessoes = new SessaoController(CamadaNegocio, ProtectedLocalStorage, NavigationManager);
            GestorDeProducao = await sessoes.ObterUtilizadorComSessaoIniciada();

            EVAs = CamadaNegocio.ObterTodasAsEVAs();
            EVAs.Sort((e1, e2) => e1.Nome.CompareTo(e2.Nome));
            StateHasChanged();
        }
    }

    private void ComecarOrdemProducao()
    {
        OrdemProducao = new OrdemProducao(DateTime.Now, GestorDeProducao!);
    }

    private void CancelarOrdemProducao()
    {
        OrdemProducao = null;
    }

    private void ColocarOrdemProducao()
    {
        OrdemProducao!.InstanteEmissao = DateTime.Now;
        try
        {
            CamadaNegocio.ColocarOrdemProducao(OrdemProducao!);
            NavigationManager.NavigateTo("/GestorDeStock");
        }
        catch (OrdemProducaoVaziaException)
        {
            MensagemAlerta = "Ordem de produção vazia não pode ser colocada";
        }
        catch (SemPartesException)
        {
            MensagemAlerta = "Sem partes suficientes";
        }
    }

    private void IncrementarQuantidade(EVA eva)
    {
        int quantidade = OrdemProducao!.ConteudoRaw.GetValueOrDefault(eva.Identificador, 0);
        OrdemProducao!.DefinirQuantidadeDeEVA(eva, quantidade + 1);
        StateHasChanged();
    }

    private void DecrementarQuantidade(EVA eva)
    {
        int quantidade = OrdemProducao!.ConteudoRaw.GetValueOrDefault(eva.Identificador, 0);
        if (quantidade == 0)
            return;

        OrdemProducao!.DefinirQuantidadeDeEVA(eva, quantidade - 1);
    }
}
