@page "/Cliente/Carrinho"

@using LI4.Apresentacao.Componentes

@namespace LI4.Apresentacao.Paginas.Cliente

<PageTitle>Carrinho de Compras</PageTitle>
<h1>Carrinho de Compras</h1>
<table>
    <thead>
        <tr>
            <th>Item:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
            <th>Total:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Carrinho)
        {
            <tr>
                <td>
                  <img src="@order.ImageUrl" alt="@order.AltText" width="100px" height="50px" />
                </td>
                <td>@order.Preco$</td>
                <td>
                    <Counter Value="@order.Quantidade" ValueChanged="(newValue) => order.Quantidade = newValue" />
                </td>
                <td>@(order.Preco * order.Quantidade)$</td>
                <td>
                  <XComp AoClicar="() => ApagarItem(order)" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="total">Preço Final: @PrecoFinal$</div>
<div>
    <div>
      <InputField
        Placeholder="Selecionar morada de entrega" 
      />
    </div>
    <div class="general-button">
	    <ActionButton Title="Finalizar Pedido" Callback=@FinalizarPedido></ActionButton>
    </div>
</div>
<div class="back-button">
    <LinkButton Title="Retroceder" Href="/"></LinkButton>
</div>

@code {
	private List<Order> Carrinho { get; set; } = new List<Order>{
		new Order{
				ImageUrl = "imagens/",
				AltText = "Imagem1",
				Preco = 100,
				Quantidade = 1
			},
			new Order{
				ImageUrl = "imagens/",
				AltText = "Imagem2",
				Preco = 200,
				Quantidade = 1
			},
			new Order{
				ImageUrl = "imagens/arquitetura(1).png",
				AltText = "Imagem3",
				Preco = 300,
				Quantidade = 1
			},
			new Order{
				ImageUrl = "imagens/tiposTasks.png",
				AltText = "Imagem4",
				Preco = 400,
				Quantidade = 1
			}	
	};

    public class Order{
        public string ImageUrl { get; set; } = string.Empty; 
        public string AltText { get; set; } = string.Empty;
        public int Preco { get; set; }
		private int _quantidade;
        public int Quantidade{
			get => _quantidade;
	    	set{
		        _quantidade = value;
				Total = Preco * _quantidade; // Recalcula o total
			}
    	}
        public int Total { get; private set; }
		public Order(){
        	this.Total = this.Preco * this._quantidade;
    	}
    }
    private void ApagarItem(Order order)
    {
	    // Remover o item da lista
	    Carrinho.Remove(order);
    }

    private decimal PrecoFinal => Carrinho.Sum(item => item.Preco * item.Quantidade);
    private string MoradaEntrega { get; set; } = string.Empty;
    private void AlterarQuantidade(Order order, int delta){
        order.Quantidade = Math.Max(1, order.Quantidade + delta);
    }

    private void FinalizarPedido(){
        Console.WriteLine("Pedido finalizado!");
    }
}

